{% include "run/index.html" %}
{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">






{% block content %}
    <h1>{{ location.Name }} - Event {{ event.number }}</h1>
    <p>   Race graph<a href="{% url 'event_visual' location.id event.id  %}"> here</a></p>
    <table style="border-collapse: collapse; width: 100%;">
        <thead style="background-color: #ddd;">
            <tr>
                <th style="padding: 8px; border: 1px solid #ddd;">Position</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Name</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Time</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Club</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Group</th>
            </tr>
        </thead>
        <tbody>
            {% for data in runner_data %}
                <tr>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ data.position }}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;"><a href="{% url 'runner_details' data.runner_id   %}">{{ data.name }}</a></td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ data.time}}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ data.club}}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ data.group}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

