{% include "run/index.html" %}
{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% block content %}



<div class="d-flex justify-content-between">
    <div class="form-box border border-primary p-3 bg-light" style="width: 30%; border-radius: 30px;">
        <h5 class="text-center mb-4" style="font-weight: bold;">Location Partipcation</h5>
        <p>You can use this tool to compare runner participation at event(s)<br>
            You can add filters on the years to define a time period<br>
            This gives a visual representation of how many people are running </p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group1 mb-2">
                <label for="{{ form2.location.id_for_label }}" style="font-weight: bold;">Select a Location:</label>
                <div class="location-select" style="display: grid; grid-template-columns: repeat(1, 2fr); grid-gap: 10px;">
                    {{ form2.location }}
                </div>
            </div>

            <div class="form-group1 mb-2">
                <label for="{{ form2.start.id_for_label }}" style="font-weight: bold;">Select Start Year:</label>
                {{ form2.start }}
            </div>
            <div class="form-group1 mb-2">
                <label for="{{ form2.end.id_for_label }}" style="font-weight: bold;">Select End Year:</label>
                {{ form2.end }}
            </div>
            <div class="form-group1 mb-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <div class="timings-data-box" style="width: 70%;">
        {{ timings_data|safe }}
    </div>
</div>





{% endblock %}